<!doctype html>
<html lang="en">
  <head>
  	<link rel="stylesheet" type="text/css" href="#DOMAIN/public/styles/bootstrap/bootstrap.min.css">
    <title>Trek</title>
  </head>
  <body>
  	<meta charset="utf-8"/>
  	<p>
      Your account #USERNAME has been created!
    </p>
    <!-- <form action="#DOMAIN/public/createAccount.js" method="POST">
      <input name="username" value="#USERNAME" type="hidden">
      <input name="email" value="#EMAIL" type="hidden">
      <input name="password" value="#PASSWORD" type="hidden">
      <button type="submit" class="btn btn-primary btn-lg btn-block">Verify Email</button>
    </form> -->

    <script type="text/javascript" src="#DOMAIN/public/scripts/jquery/jquery-3.4.1.min.js"></script>
    <script type="text/javascript" src="#DOMAIN/public/scripts/bootstrap/bootstrap.bundle.min.js"></script>
  </body>
</html>